<div #scrollContainer class="container">
  <h2>Listado de pokemones</h2>
  <div class="row">
    <div class="col-8">
        <input class="form-control" type="text" placeholder="Busque un pokemon por su nombre" (keyup)="searchPokemons($event)">
    </div>
    <div class="col-3"></div>
    <div class="col-1">
      <button class="btn btn-global text-center" (click)="createPokemon()">
        <a href="pokemonForm"></a>
        + Nuevo
      </button>
    </div>
  </div>

  <div class="row pt-5">
    <table class="table-light">
      <thead>
        <tr>
          <th *ngFor="let header of tableHeader" class="text-center">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pokemon of pokemons">
          <td>
            {{ pokemon.name }}
          </td>
          <td class="text-center">
            <img
              src="{{ pokemon.image }}"
              alt="{{ pokemon.name }}-image"
              style="max-width: 150px"
            />
          </td>
          <td>
            {{ pokemon.attack }}
          </td>
          <td>
            {{ pokemon.defense }}
          </td>
          <td class="text-center">
              <button class="btn btn-global">Editar</button>
              <button class="btn btn-global">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="pokemonForm" class="row" *ngIf="showForm">
    <div class="col-12">
      Aquí formulario
    </div>
  </div>
</div>
